.title {
    background-color: #679000;
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.board__clock {
    background-color: #c4d69a;
    width: 300px;
    flex-grow: 1;
    text-align: center;
    padding-block: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.board__time {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .2em;
}

.board__location {
    margin-block: 0;
}